@font-face {
	font-family: CartographCF;
	src: url(../assets/fonts/Cartograph\ CF\ Regular\ Nerd\ Font\ Complete.otf);
}

* {
    --bg:       #151515;   
    --bg-alt:   #191919;
    --sidebar:  #212121;
    --border:   #2e2e2e;
	--gray:		#888888;
	--gray2:	#ababab;
    --fg:       #e8e8d3;
    --red:		#cf6a4c;  
    --yellow:	#d8ad4c;
	--green:	#99ad6a;
	--blue: 	#597bc5;
	font-family: CartographCF;
}

body {
    padding: 0%;
    margin: 0%;
    background-color: var(--bg-alt);
    color: var(--gray);
}

.sidebar {
    background-color: var(--sidebar);
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
	border-left: var(--border) 2px solid;
	border-top: var(--border) 2px solid;
}

.sidebar img {
	float: left;
    height: 250px;
    /* border-radius: 1em; */
}

.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.main {
    top: 0;
    left: 0;
	margin: 3%;
}


a {
	text-decoration: none;
	color: var(--gray);
}

a:hover {
	color: var(--gray2);
}

a:active {
	color: var(--fg);
}